[submodule "ExternalProjects/SDL2/SDL"]
	path = extern/SDL2/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
	ignore = untracked
[submodule "ExternalProjects/SDL2/libusb"]
	path = extern/SDL2/libusb
	url = https://github.com/libusb/libusb.git
	ignore = untracked
[submodule "extern/lua"]
	path = extern/lua
	url = https://github.com/lua/lua.git
	ignore = untracked
[submodule "extern/zstd"]
	path = extern/zstd
	url = https://github.com/facebook/zstd.git
	ignore = untracked
[submodule "extern/cimgui"]
	path = extern/cimgui
	url = https://github.com/cimgui/cimgui.git
	ignore = untracked
[submodule "extern/openal-soft"]
	path = extern/openal-soft
	url = https://github.com/kcat/openal-soft.git
	ignore = untracked
[submodule "extern/luasocket"]
	path = extern/luasocket
	url = https://github.com/lunarmodules/luasocket.git
	ignore = untracked
[submodule "extern/sqlite3"]
	path = extern/sqlite3
	url = https://github.com/ericsink/cb.git
	ignore = untracked
[submodule "extern/chimera-common-minibox"]
	url = https://github.com/ToolAssisted-run/chimera-common-minibox.git
	path = extern/chimera-common-minibox
[submodule "quickernes"]
	path = extern/cores/quickernes
	url = https://github.com/ToolAssisted-run/chimera-core-quickernes.git
	branch = main
	ignore = dirty
[submodule "neshawk"]
	path = extern/cores/neshawk
	url = https://github.com/ToolAssisted-run/chimera-core-neshawk.git
	branch = main
	ignore = dirty
[submodule "ppsspp"]
	path = extern/cores/ppsspp
	url = https://github.com/ToolAssisted-run/chimera-core-ppsspp.git
	branch = main
	ignore = dirty
[submodule "dosbox-x"]
	path = extern/cores/dosbox-x
	url = https://github.com/ToolAssisted-run/chimera-core-dosbox-x.git
	branch = main
	ignore = dirty
[submodule "gpgx"]
	path = extern/cores/gpgx
	url = https://github.com/ToolAssisted-run/chimera-core-gpgx.git
	branch = main
	ignore = dirty
[submodule "opera"]
	path = extern/cores/opera
	url = https://github.com/ToolAssisted-run/chimera-core-opera.git
	branch = main
	ignore = dirty
[submodule "snes9x"]
	path = extern/cores/snes9x
	url = https://github.com/ToolAssisted-run/chimera-core-snes9x.git
	branch = main
	ignore = dirty
[submodule "stella"]
	path = extern/cores/stella
	url = https://github.com/ToolAssisted-run/chimera-core-stella.git
	branch = main
	ignore = dirty
