[submodule "ExternalProjects/SDL2/SDL"]
	path = extern/tools/SDL2/SDL
	url = https://github.com/libsdl-org/SDL.git
	branch = SDL2
	ignore = untracked
[submodule "ExternalProjects/SDL2/libusb"]
	path = extern/tools/SDL2/libusb
	url = https://github.com/libusb/libusb.git
	ignore = untracked
[submodule "extern/tools/lua"]
	path = extern/tools/lua
	url = https://github.com/lua/lua.git
	ignore = untracked
[submodule "extern/tools/zstd"]
	path = extern/tools/zstd
	url = https://github.com/facebook/zstd.git
	ignore = untracked
[submodule "extern/tools/cimgui"]
	path = extern/tools/cimgui
	url = https://github.com/cimgui/cimgui.git
	ignore = untracked
[submodule "extern/tools/openal-soft"]
	path = extern/tools/openal-soft
	url = https://github.com/kcat/openal-soft.git
	ignore = untracked
[submodule "extern/tools/luasocket"]
	path = extern/tools/luasocket
	url = https://github.com/lunarmodules/luasocket.git
	ignore = untracked
[submodule "extern/tools/sqlite3"]
	path = extern/tools/sqlite3
	url = https://github.com/ericsink/cb.git
	ignore = untracked
[submodule "extern/tools/chimera-common-minibox"]
	url = https://github.com/ToolAssisted-run/chimera-common-minibox.git
	path = extern/tools/chimera-common-minibox
[submodule "quickernes"]
	path = extern/cores/quickernes
	url = https://github.com/ToolAssisted-run/chimera-core-quickernes.git
	branch = main
	ignore = dirty
[submodule "neshawk"]
	path = extern/cores/neshawk
	url = https://github.com/ToolAssisted-run/chimera-core-neshawk.git
	branch = main
	ignore = dirty
[submodule "ppsspp"]
	path = extern/cores/ppsspp
	url = https://github.com/ToolAssisted-run/chimera-core-ppsspp.git
	branch = main
	ignore = dirty
[submodule "dosbox-x"]
	path = extern/cores/dosbox-x
	url = https://github.com/ToolAssisted-run/chimera-core-dosbox-x.git
	branch = main
	ignore = dirty
[submodule "gpgx"]
	path = extern/cores/gpgx
	url = https://github.com/ToolAssisted-run/chimera-core-gpgx.git
	branch = main
	ignore = dirty
[submodule "opera"]
	path = extern/cores/opera
	url = https://github.com/ToolAssisted-run/chimera-core-opera.git
	branch = main
	ignore = dirty
[submodule "snes9x"]
	path = extern/cores/snes9x
	url = https://github.com/ToolAssisted-run/chimera-core-snes9x.git
	branch = main
	ignore = dirty
[submodule "stella"]
	path = extern/cores/stella
	url = https://github.com/ToolAssisted-run/chimera-core-stella.git
	branch = main
	ignore = dirty
[submodule "extern/cores/flycast"]
	path = extern/cores/flycast
	url = https://github.com/ToolAssisted-run/chimera-core-flycast.git
	branch = main
	ignore = dirty
[submodule "extern/cores/pcsx2"]
	path = extern/cores/pcsx2
	url = https://github.com/ToolAssisted-run/chimera-core-pcsx2.git
	branch = main
	ignore = dirty
[submodule "extern/cores/xemu"]
	path = extern/cores/xemu
	url = https://github.com/ToolAssisted-run/chimera-core-xemu.git
	branch = main
