{
	"coreName": "Synth",
	"systemId": "Synth",
	"romFile": "rom",
	"deterministic": true,
	"memoryLayoutMiB": [ 16, 16, 16, 16, 32 ],
	"video": {
		"width": 128,
		"height": 120,
		"virtualWidth": 256,
		"virtualHeight": 240,
		"vsyncNumerator": 60,
		"vsyncDenominator": 1,
		"getBgra": "GetVideoBgra"
	},
	"audio": {
		"samplesPerFrame": 735,
		"channels": 1,
		"get": "GetAudio"
	},
	"input": {
		"name": "Synth Controller",
		"buttons": [ "P1 Up", "P1 Down", "P1 Left", "P1 Right", "P1 A", "P1 B", "P1 Select", "P1 Start" ]
	},
	"lag": {
		"inputWasRead": "InputWasRead"
	},
	"extensions": {
		".testrom": "Synth"
	},
	"settings": {}
}
