work/
package/bin/
package/obj/
native/synth-run
native/libsynthcore.so
native/libsynthcore.dll
roms/*.testrom
package-sharp/bin/
package-sharp/obj/
package-sharp/tester/bin/
package-sharp/tester/obj/
package-box/synth.wbx
package-box/*.o
package-box/synth-run-box
package-box/bin/
package-box/obj/
